# Logs
logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.venv
__pycache__/
*.pyc
data/
ani_libs.bin
account.json
.DS_Store
.vscode/*
!.vscode/extensions.json
android/.gradle/
android/**/build/
android/local.properties
android/.idea/
